@{
    ViewBag.Title = "Studio";
}


	<div class="container2">
		<div class="row">
			<div class="col-md-4">

				<a href="">

					<img class="img" src="~/Content/Images/space.png">


					<button class="button">Projects</button>

				</a>

			</div>
			<div class="col-md-4">

				<a href="">

					<img class="img" src="~/Content/Images/rocket.png">



					<button class="button">Clients</button>

				</a>

			</div>
			<div class="col-md-4">

				<a href="">

					<img class="img" src="~/Content/Images/astronaut.png">



					<button class="button">Users</button>

				</a>

			</div>
		</div>
	</div>

