@{
    ViewBag.Title = "UserPage";
}

<h2>@ViewBag.Message </h2>
<h3> </h3>

<hr />


    <div class="row">
        <div class="col-lg-6">
            <div><h3>Personal information</h3>
                <img src="" alt="" />
            </div>

        </div>
        <div class="col-lg-6">
            <div> <h3>My projekt</h3>
                
                <div class="row">

                    <div class="col-sm-4 col-lg-3 col-md-3 col-xs-10">
                        <div class="block">
                            Some projekt
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-3 col-md-3 col-xs-10">
                        <div class="block">
                            Some projekt  
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-3 col-md-3 col-xs-10">
                        <div class="block">
                            Some projekt
                        </div>
                    </div>

                </div>    

        </div>
    </div>
